.oldLog {
  animation: Log-fade-out 1 4s ease;
  animation-fill-mode: forwards;
}

@keyframes Log-fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

h3 {
  margin: 0;
  padding: 0;
}